<%- include('../partials/head') %>
<body class="body-box">
    <div class="img-box">
        <div class="box-me navigation">
            <%- include ('../partials/go-home') %>
            <%- include ('../partials/go-back') %>
        </div>
        <figure>
            <img src="/img/tomato.png">
        </figure>
    </div>
    <div class="content-box">
        <div class="box-me">
            <h1>
                <%= movie.title %>
            </h1>
            <p>
                Rating: <%= movie.rating %>
            </p>
            <p>
                Premios: <%= movie.awards %>
            </p>
            <p>
                Duración: <%= movie.length + ' min' %>
            </p>
            <p>
                Fecha de estreno: <%= movie.releaseDate %>
            </p>
            <p>
                Género: <%= movie.genre ? movie.genre.name : 'No asignado' %>
            </p>
            <p>
                Actores:
                <ul>
                    <% for (i = 0 ; i < movie.actors.length ; i++) { %>
                        <a class="cool-link" href="/actors/detail/<%= movie.actors[i].id %>">
                            <li class="indentate-me">
                                <%= movie.actors[i].firstName + ' ' + movie.actors[i].lastName %>
                            </li>
                        </a>
                    <% } %>
                </ul>
            </p>
        </div>
        <div class="box-me control-box">
            <a class="cool-link control-link" href="/movies/edit/<%= movie.id %>">
                Editar película
            </a>
            <form class="control-link" action="/movies/delete/<%= movie.id %>?_method=DELETE" method="POST">
                <button class="remove-style">
                    <p class="cool-link red-link">
                        Eliminar película
                    </p>
                </button>
            </form>
        </div>
    </div>
</body>
</html>