<%- include ('../partials/head') %>
<body class="body-box">
    <div class="img-box">
        <div clas="box-me navigation">
            <%- include ('../partials/go-home') %>
            <%- include ('../partials/go-back') %>
        </div>
        <figure>
            <img src="/img/tomato.png">
        </figure>
    </div>
    <div class="content-box">
        <h1 class="titulo">
            Editando
        </h1>
        <h1 class="titulo">
            <%= locals.movie ? movie.title : oldData.title %>
        </h1>
        <section class="formulario">
            <form action="/movies/update/<%= locals.movie ? movie.id : param %>?_method=PUT" method="POST">
                <!-- title -->
                <div class="box-me">
                    <label for="title">
                        Título
                    </label>
                    <p>
                        <input
                            class="<%= locals.errors && errors.title ? 'error-input' : null %>"
                            type="text"
                            name="title"
                            id="title"
                            value="<%= locals.movie ? movie.title : oldData.title %>"
                        >
                    </p>
                    <% if (locals.errors && errors.title) { %>
                        <span class="error-msg">
                            <%= errors.title.msg %>
                        </span>
                    <% } %>
                </div>
                <!-- rating -->
                <div class="box-me">
                    <label for="rating">
                        Rating
                    </label>
                    <p>
                        <input
                            class="<%= locals.errors && errors.rating ? 'error-input' : null %>"
                            type="text"
                            name="rating"
                            id="rating"
                            value="<%= locals.movie ? movie.rating : oldData.rating %>"
                        >
                    <% if (locals.errors && errors.rating) { %>
                        <span class="error-msg">
                            <%= errors.rating.msg %>
                        </span>
                    <% } %>
                    </p>
                </div>
                <!-- awards -->
                <div class="box-me">
                    <label for="awards">
                        Premios
                    </label>
                    <p>
                        <input
                            class="<%= locals.errors && errors.awards ? 'error-input' : null %>"
                            type="text"
                            name="awards"
                            id="awards"
                            value="<%= locals.movie ? movie.awards : oldData.awards %>"
                        >
                        <% if (locals.errors && errors.awards) { %>
                            <span class="error-msg">
                                <%= errors.awards.msg %>
                            </span>
                        <% } %>
                    </p>
                </div>
                <!-- length -->
                <div class="box-me">
                    <label for="length">
                        Duración (minutos)
                    </label>
                    <p>
                        <input
                            class="<%= locals.errors && errors.length ? 'error-input' : null %>"
                            type="text"
                            name="length"
                            id="length"
                            value="<%= locals.movie ? movie.length : oldData.length %>"
                        >
                        <% if (locals.errors && errors.length) { %>
                            <span class="error-msg">
                                <%= errors.length.msg %>
                            </span>
                        <% } %>
                    </p>
                </div>
                <div class="box-me">
                    <p>
                        <button class="submit-button" type="submit">
                            Enviar cambios
                        </button>
                    </p>
                </div>
                <a class="cool-link" href="/movies">
                    Listado de Películas
                </a>
            </form>
        </section>
    </div>
</body>
</html>