<%- include ('../partials/head') %>
<body>
    <%- include ('../partials/go-home') %>
    <%- include ('../partials/go-back') %>
    <figure>
        <img src="/img/tomato.png">
    </figure>
    <ul>
        <li>
            <a href="/movies/add">
                Agregar película
            </a>
        </li>
    </ul>
    <h1>
        LISTADO DE PELÍCULAS
    </h1>
    <ul>
        <% for( let i = 0; i < movies.length; i++ ) { %>
            <li>
                <a href="/movies/detail/<%= movies[i].id %>">
                    <%= movies[i].title %>
                </a>
            </li>
        <% } %>
    </ul>
</body>
</html>