<%- include ('../partials/head') %>
<body>
    <%- include ('../partials/go-home') %>
    <%- include ('../partials/go-back') %>
    <figure>
        <img src="/img/tomato.png">
    </figure>
    <h1>
        PELIÍCULAS MÁS NUEVAS
    </h1>
    <ul>
        <% for( let i = 0; i < movies.length; i++ ) { %>
            <div class="box-me">
                <li>
                    <a href="/movies/detail/<%=movies[i].id%>">
                        <%= movies[i].title %>
                    </a>
                </li>
                <li>
                    <%= 'RELEASE DATE: ' + movies[i].releaseDate %> 
                </li>
            </div>
        <% } %>
    </ul>
</body>
</html>