<%- include ('../partials/head') %>
<body class="body-box">
    <div class="img-box">
        <div class="box-me navigation">
            <%- include ('../partials/go-home') %>
            <%- include ('../partials/go-back') %>
        </div>
        <figure>
            <img src="/img/tomato.png">
        </figure>
    </div>
    <div class="content-box">
        <h1>
            <%= actor.firstName %> <%= actor.lastName %>
        </h1>
        <p>
            RATING: <%= actor.rating %>
        </p>
    </div>
</body>
</html>