<%- include ('../partials/head') %>
<body>
    <%- include ('../partials/go-home') %>
    <%- include ('../partials/go-back') %>
    <figure>
        <img src="/img/tomato.png">
    </figure>    
    <h1>
        <%= actor.firstName %> <%= actor.lastName %>
    </h1>
    <p>
        RATING: <%= actor.rating %>
    </p>
</body>
</html>