<%- include ('../partials/head') %>
<body class="body-box">
    <div class="img-box">
        <div class="box-me navigation">
            <%- include ('../partials/go-home') %>
            <%- include ('../partials/go-back') %>
        </div>
        <figure>
            <img src="/img/tomato.png">
        </figure>
    </div>
    <div class="content-box">
        <div class="box-me">
            <h1>
                <%= actor.firstName %> <%= actor.lastName %>
            </h1>
            <p>
                Rating: <%= actor.rating %>
            </p>
            <p>
                Trabajó en:
                <ul>
                    <% for (i = 0 ; i < actor.movies.length ; i++) { %>
                        <a class="cool-link" href="/movies/detail/<%= actor.movies[i].id %>">
                            <li class="indentate-me">
                                <%= actor.movies[i].title %>
                            </li>
                        </a>
                    <% } %>
                </ul>
            </p>
        </div>
    </div>
</body>
</html>